/*setting up the layout of the buttons and display*/
#cal-grid {
  margin: 0 auto;
  height: 80vw;
  width: 80vw;
  display: grid;	
  grid-template-rows: repeat(6, 1fr); /*calculator is 5 rows tall*/
  grid-template-columns: repeat(4, 1fr); /*4 rows wide*/
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}


#display {
  width: 100%;	
  border: 2px solid black;
  display: flex;
  background-color: #252525;
  color: white;
  justify-content: flex-end; /*this way, number appears towards end of container*/
  align-items: center; /*we want calculator to be center of page*/
  font-size: 50px;
  grid-row: 1/2;
  grid-column: 1/5;
}
